html,
body {
  padding: 0;
  margin: 0;
  background-color: bisque;
}

.d-flex {
  display: flex;
}

.nav-container {
  justify-content: space-between;
  padding: 2%;
}

.nav-menu {
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  width: 20%;
}

.super-heroes-container {
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  flex-direction: column;
  width: 25%;
  margin: 2.5%;
  border: 5px solid teal;
}

.card-info {
  justify-content: space-between;
}

.main-btn {
  margin: 5px;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 16px;
}
