html,
body {
  padding: 0;
  margin: 0;
  background-color: bisque;
}

.d-flex {
  display: flex;
}

.nav-container {
  justify-content: space-between;
  padding: 2%;
}

.nav-menu {
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  width: 20%;
}