html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--marvel-blue);
  font-family: 'cpt-marvel', monospace ;
  color: white;
}

@font-face {
  font-family: marvel-logo;
  src: url(./assets/fonts/MarvelRegular-Dj83.ttf);
}

@font-face {
  font-family: cpt-marvel;
  src: url(./assets/fonts/Captainmarvel-anm9.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --marvel-red: #e23636;
  --marvel-brown: #504a4a;
  --marvel-blue: rgb(18, 17, 47);
  --marvel-orange: #f78f3f;
}

.d-flex {
  display: flex;
}

.logo-wrap {
  background-color: var(--marvel-red);
  display: flex;
  align-items: center;
  padding: 20px 16px 8px 20px;
}

.logo {
  font-family: 'marvel-logo', monospace !important;
  font-size: 60px;
  color: white;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.nav-container {
  justify-content: space-between;
  padding: 12px 16px;
  background-color: var(--marvel-blue);
  box-shadow: 0 0 8px 0 var(--marvel-red);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-menu {
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}

.nav-menu li {
  color: #fff;
  margin: 0 16px;
  cursor: pointer;
}

.super-heroes-container {
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  flex-direction: column;
  width: 25%;
  margin: 2.5%;
  background-color: var(--marvel-brown);
  padding: 1%;
  border-radius: 10px;
}

.card-container img {
  border-radius: 10px;
}

.card-info {
  justify-content: space-between;
}

.main-btn {
  margin: 5px;
  padding: 6px;
  font-weight: 600;
  cursor: pointer;
}
.main-btn:hover {
  background-color: var(--marvel-blue);
  color: white;
  border: 1px solid white;
}

#footer {
  width: 100%;
  bottom: 0;
  padding: 16px;
  background: var(--marvel-orange);
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.content-rsvtn {
  width: 100%;
  max-width: 800px;
  height: 850px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  color: var(--marvel-blue);
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
}

.content-rsvtn h2 {
  padding: 0;
  margin: 0 0 24px 0;
  font-size: 28px;
}

.content-rsvtn p {
  font-size: 18px;
}

.content-rsvtn img {
  border-radius: 5px;
}

.close-rsvtn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  color: var(--marvel-red);
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.close-rsvtn:hover {
  background-color: var(--marvel-red);
  color: white;
}

.fa-heart {
  color: var(--marvel-blue);
  width: 20px;
}

.likes-container {
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
}

.rsvtn-form {
  text-align: center;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.rsvtn-form h2 {
  grid-column: 1 / 3;
  color: var(--marvel-brown);
}

.rsvtn-form button {
  cursor: pointer;
  padding: 16px;
  grid-column: 1 / 3;
}

.rsvtn-label {
  width: 100%;
  padding: 0;
  margin: 0;
}

.rsvtn-input {
  width: 100%;
  padding: 8px;
}

.label-name {
  grid-column: 1 / 3;
}

.rsvtns-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.rsvtns-list h2 {
  grid-column: 1 / 4;
  color: var(--marvel-brown);
}

.rsvtns-list li {
  color: white;
  padding: 4px;
  background-color: var(--marvel-brown);
  border-radius: 4px;
}

.rsvtns-list li * {
  font-size: 14px;
  margin: 4px 0;
  padding: 0 0;
}

#comment-input {
  display: flex;
  flex-direction: column;
  color: #000;
}

#comment-input h3 {
  font-size: 25px;
}

#comment-input input,
#comment-input textarea {
  padding: 10px 10px;
  margin: 10px 0;
}

#comment-input textarea {
  padding: 30px 10px;
}

.single-comment {
  background-color: var(--marvel-blue);
  padding: 2px 10px;
  border-radius: 8px;
  border: 1px solid #000;
}

.single-comment p {
  font-size: 24px;
  color: #fff;
}

.single-comment h4 {
  margin-left: 10px;
}

.number-of-items {
  padding: 120px 0 0 16px;
  font-size: 20px;
}
